<!-- <button (click)="convertPDF()">Baixar PDF</button> -->
<div *ngIf="this.eventoURL != '' && this.eventoPro == 1 " class="umponto"> 
    <span class="cod">{{ this.codigo }}</span> <br>
    <span class="ponto">{{ this.eventoPro }} ponto </span> <br>
    <div class="dados">
        {{ this.eventoDados.pessoaId }}
        {{ this.eventoDados.nomePessoa }}
        {{ this.eventoDados.idadePessoa }}
        {{ this.eventoDados.cpfPessoa }}
        {{ this.eventoDados.unidadeEnsino}}
    </div> 
</div>
<div *ngIf="this.eventoURL != '' && this.eventoPro == 2 " class="doispontos"> 
    <span class="cod">{{ this.codigo }}</span> <br>
    <span class="ponto">{{ this.eventoPro }} pontos </span> <br>
    <div class="dados">
        {{ this.eventoDados.pessoaId }}
        {{ this.eventoDados.nomePessoa }}
        {{ this.eventoDados.idadePessoa }}
        {{ this.eventoDados.cpfPessoa }}
        {{ this.eventoDados.unidadeEnsino}}
    </div>   
</div>
<div *ngIf="this.eventoPro == 3 " class="invalido"> 
    <span class="codigo">404</span>
    <span class="texto">Código Inválido</span>
</div>  