*{
    font-family: 'Roboto', sans-serif;
}

span.cod{
    font-size: 4rem;
    font-weight: bold;
}

span.ponto{
    font-weight: lighter;
}

.umponto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 226, 89);
    color: white;
    font-size: 2rem;
}

.doispontos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 226, 226);
    color: white;
    font-size: 2rem;    
}

.invalido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 43, 43);
    color: white;
}
span.codigo{
    font-size: 30rem;
    font-weight: bold;
    opacity: .1;
}

span.texto{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
}

.dados{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
}