<div *ngIf="this.eventoURL != '' && this.eventoPro == 1 " class="umponto"> 
    {{ this.codigo }} <br>
    {{ this.eventoPro }} ponto <br>
    <div class="dados">
        {{ this.eventoDados.pessoaId }}
        {{ this.eventoDados.nomePessoa }}
        {{ this.eventoDados.idadePessoa }}
        {{ this.eventoDados.cpfPessoa }}
        {{ this.eventoDados.unidadeEnsino}}
    </div> 
</div>
<div *ngIf="this.eventoURL != '' && this.eventoPro == 2 " class="doispontos"> 
    {{ this.codigo }} <br>
    {{ this.eventoPro }} pontos <br>
    <div class="dados">
        {{ this.eventoDados.pessoaId }}
        {{ this.eventoDados.nomePessoa }}
        {{ this.eventoDados.idadePessoa }}
        {{ this.eventoDados.cpfPessoa }}
        {{ this.eventoDados.unidadeEnsino}}
    </div>   
</div>
<div *ngIf="this.eventoPro == 3 " class="invalido"> 
    Código Inválido.
</div>  